nav {
  position: relative;
  background-color: #091933;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease; }
  nav .search {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #5950dc;
    color: #fff; }
    nav .search::placeholder {
      color: #eaeaea; }
    nav .search:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #eaeaea; }
    nav .search::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #eaeaea; }
  nav.searching {
    height: 80px; }

.searchList {
  display: none;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 5%;
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  border-radius: 5px; }
  @media only screen and (max-width: 730px) {
    .searchList {
      padding: 10% 0; } }
  .searchList .searchResults {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between; }
    .searchList .searchResults .loading {
      display: none;
      margin: 0 auto; }
    .searchList .searchResults .error {
      font-size: 30px;
      font-family: 'Heebo', Aria, sans-serif;
      color: #091933; }
  .searchList .chooseView {
    position: absolute;
    right: 5%;
    top: 15px;
    display: flex; }
    .searchList .chooseView .container {
      display: block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      font-size: 16px;
      font-family: 'Heebo', Aria, sans-serif;
      margin-right: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .searchList .chooseView .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .searchList .chooseView .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
      transform: translateY(-50%); }
    .searchList .chooseView .container:hover input ~ .checkmark {
      background-color: #ccc; }
    .searchList .chooseView .container input:checked ~ .checkmark {
      background-color: #091933; }
    .searchList .chooseView label {
      display: inline-block; }
  .searchList .streamer {
    width: 100%;
    max-width: 320px;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer; }
    @media only screen and (max-width: 730px) {
      .searchList .streamer {
        margin: 0 auto 40px; } }
    .searchList .streamer img {
      width: 100%; }
    .searchList .streamer .bottom {
      display: flex;
      align-items: center; }
      .searchList .streamer .bottom img {
        max-width: 50px;
        margin-right: 15px; }
    .searchList .streamer .text {
      padding: 15px 0; }
      .searchList .streamer .text p {
        font-family: 'Heebo', Aria, sans-serif;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .searchList .streamer .text p:last-of-type {
          font-weight: normal;
          margin-top: 5px; }

.stream {
  height: 100vh;
  width: 100%;
  background: #091933; }
  .stream iframe {
    height: 80vh;
    width: 100%; }
  .stream .streamInfo {
    display: flex;
    align-items: flex-start;
    font-family: 'Heebo', Aria, sans-serif;
    color: #eaeaea;
    margin-top: 25px;
    position: relative; }
    .stream .streamInfo img {
      width: 100%;
      max-width: 75px;
      margin-right: 25px; }
    .stream .streamInfo .description {
      font-size: 20px; }
      .stream .streamInfo .description span {
        display: block;
        font-size: 15px;
        opacity: 0.4; }
    .stream .streamInfo #viewers {
      font-size: 17px;
      right: 1%;
      position: absolute;
      display: block;
      top: 0; }
    .stream .streamInfo i {
      margin-right: 10px; }
  .stream .erro {
    color: white;
    font-size: 40px;
    position: relative;
    margin: 0 auto;
    font-family: 'Heebo', Aria, sans-serif;
    text-align: center; }
    .stream .erro span {
      font-size: 16px;
      display: block; }
    .stream .erro img {
      width: 100%;
      max-width: 550px; }

a {
  background: #091933;
  width: 100%;
  display: block;
  padding-left: 1%;
  box-sizing: border-box; }
  a i {
    color: #eaeaea; }

.seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .seeMore button {
    font-family: 'Heebo', Aria, sans-serif;
    text-transform: uppercase;
    margin-right: 25px;
    background: #091933;
    border: 0;
    color: #eaeaea; }
    .seeMore button:hover {
      color: #091933;
      background: rgba(9, 25, 51, 0.3); }
    .seeMore button:last-of-type {
      margin-right: 0; }
